/* Base styles */


body {
	// Text
	font-family: 'Georgia, serif';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-size: 1.3125em;
	line-height: 1.52381em;
	color: $text-light;
  background: $bg;
}

.contrast {
	// Used when text sits on top of dark colors
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	color: $text-light;
}

h1 {
	font-size: 2.5em;
	padding-top: 1%;
	line-height: 1em;
	width: 80%;
	margin-left: 12.5%;

	@media screen and (max-width: 600px) {
		font-size: 1.7em;
	}
}

h2 {
	font-size: 2.3em;
	padding: 0 0 5% 0;
	text-align: center;
}

h3 {
	font-size: 2.1em;
	padding: 0 0 7% 0;
	text-align: center;
}

p {
	padding: 0 0 5% 0;
}

button {
	-webkit-font-smoothing: antialiased;
	color: $text-cta;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	background: linear-gradient(#ffffff, #f0f0f0);
	background-color: $button;
	text-shadow: 0 1px #fff;
	border: 1px solid #ccc;
	cursor: pointer;
	font-weight: bold;
	padding: 8px 14px 7px;
	white-space: nowrap;
}
