/* Base styles */


body {
	// Text
	font-family: 'Special Elite', Georgia, serif;
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	font-size: $base-font-size;
	line-height: $base-line-height;
	color: $text-dark;
  background: url('/images/lo-bg.jpg') top center no-repeat #f8edd1;
  background-size: cover;
}

.contrast {
	// Used when text sits on top of dark colors
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	color: $text-light;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Radley', Georgia, serif;
	line-height: 1em;
	font-weight: 400;
}

h1 {
	font-size: 2.5em;
	width: 80%;
	margin-left: 12.5%;

	@media screen and (max-width: 600px) {
		font-size: 1.7em;
	}
}

h2 {
	font-size: 2.2em;
	padding: 0 0 5% 0;
	text-align: center;
}

h3 {
	font-size: 1.8em;
	padding: 0 0 5% 0;
	text-align: center;
}

p {
	padding: 0 0 5% 0;
}

button {
	-webkit-font-smoothing: antialiased;
	background-color: white;
	text-shadow: 0 1px #fff;
	border: 3px double #404040;
	cursor: pointer;
	font-size: 1em;
	font-family: 'Radley', Georgia, serif;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 20px;
	white-space: nowrap;
	@include border-radius(1px);
}
