/* Content Partial - contents of each product box */

content {
  position: relative;
  display:block;

  &#rinse {
  color: $text-dark;
  background: $bg-rinse;
  }
  
  &#cleanse {
  color: $text-dark;
  background: $bg-cleanse;
  }
  
  &#leavein {
  color: $text-dark;
  background: $bg-leavein;
  }
}