/* Content Partial - contents of each product box */

content.product {
  // Generic styles that apply to all products
  position: relative;
  display:block;
  height: 500px;
  clear: both;

  @media screen and (max-width: 600px) {
    height: 610px;
  }

   @media screen and (max-width: 400px) {
    height: 610px;
  }

  & img {
    // Generic img styles. Positioning will be overridden below.
    width: 41%;
    padding-top: 3%;
    max-width: 500px;
    float: left;
    padding-left: 10%;

    @media screen and (max-width: 600px) {
      width: 350px;
      padding-left: 18%;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
      padding-right: 0%;
      padding-left: 0%
    }
    
  }

  .metadata {
    width: 30%;
    padding-top: 11%;
    float: right;
    padding-right: 11%;

    @media screen and (max-width: 600px) {
      width: 100%;
      float: right;
      padding-right: 5%;
      margin-bottom: 5%;
    }
    @media screen and (max-width: 400px) {
      width: 90%;
      padding-right: 5%;
      padding-left: 5%
    }
  }

  button {
    margin: 0 40% 0 40%;
  }

  // Product-specific styles

  &#rinse {
    color: $text-dark;
    background: $bg-rinse;
  }
  
  &#cleanse {
    color: $text-dark;
    background: $bg-cleanse;

  }
  
  &#leavein {
    color: $text-dark;
    background: $bg-leavein;
  }
}

// Right Aligned variation
  .product.right {
    img {
      float:right;
      padding-right: 9%;
      padding-left: 6%;

      @media screen and (max-width: 400px) {
      width: 90%;
      padding-right: 5%;
      padding-left: 5%;
      }
    }
    .metadata {
      float:left;
      padding-left: 14%;
      padding-right: 0;

      @media screen and (max-width: 600px) {
      width: 100%;
      float: right;
      padding-right: 5%;
      margin-bottom: 5%;
      }

      @media screen and (max-width: 400px) {
      width: 90%;
      padding-right: 5%;
      padding-left: 5%;
      }
    }

  }