/* Header Partial  - contains logo and other pieces for header of site */

header {
  position: relative;
  text-align:center;
  margin: 0;
  padding-bottom: 4%;
  border-bottom: 3px double #404040;
  background: -moz-linear-gradient(top, ellipse cover, rgba(247, 237, 187, 0) 0%, #f7edbb 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(247, 237, 187, 0)), color-stop(100%, #f7edbb));

  .logo {    
    padding: 13%;
    background: url('/images/logo.png'); // TODO: Add CDN Link here
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @media screen and (max-width: 600px) {
      padding: 30%;
    }
  }
    
  
}
