/* Promo Partial - contents of each promo box */
content.promo {
  position: relative;
  display:block;
  height: 600px;  // Slightly shorter to vary the eye
  width: 100%;

  color: $text-dark;
  background: $bg-promo;

  & ul {
    display: inline-block;
    li {
      display:inline-block;
      float: left;
      // padding: 1%;
      & img {
        display: inline-block;
        width: 100px;
        height: 80px;
      }
    }


    @media screen and (max-width: 600px) {
      width: 100%;
    }
    @media screen and (max-width: 400px) {
      width: 100%;
      padding-right: 0%;
      padding-left: 0%
    }
  }

  & button {
    margin: 0 auto;
    width: 100%;
  }

  .center {
    padding-top: 10%;
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }
  
}