/* Promo Partial - contents of each promo box */
content.promo {
  position: relative;
  display:block;
  height: 400px;  // Slightly shorter to vary the eye

  color: $text-dark;
  background: $bg-promo;

  ul {
    padding: 5% 35% 0 38%;
    display: inline-block;
    li {
      display:inline-block;
      float: left;
      // padding: 1%;
      & img {
        width: 100px;
        height: 80px;
      }
    }
  }

  h3 {
    margin: 5% 40% 0 43%;
  }

  button {
    margin: 5% 45% 0 45%;
  }
  
}