!!! 5

html(lang="en")
  head
    link(rel='stylesheet', href='/css/screen.css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Special+Elite|Radley')
    title Lavender and Oak
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(charset='UTF-8')


  body
    // Header - L&O Logo
    include header/index

    // Product Areas
    include product/cleanse
    include product/moisturize
    include product/leavein

    // Upsell - Buy All 3!
    include promo/combo-buy

    // About L&O
