!!! 5

html(lang="en")
  head
    link(rel='stylesheet', href='/css/screen.css')
    title Lavendar and Oak
    meta(name='viewport', content='width=device-width')
    meta(charset='UTF-8')


  body
    header.contrast
      h1.logo Logo goes here
    include product/cleanse
    include product/rinse
    include product/leavein
    
    #debug
      p Debug is on.
