/* Base CSS file  - compiles all imports below into screen.css */
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Custom Partials */
/* Variables Partial  - contains colors, fonts, etc. */
/* Text Colors */
/* Link Colors */
/* Background Colors */
/* Base styles */
/* line 4, ../../sass/_base.scss */
body {
  font-family: 'Special Elite', Georgia, serif;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
  background: url("/images/lo-bg.jpg") top center no-repeat #f8edd1;
  background-size: cover;
}

/* line 17, ../../sass/_base.scss */
.contrast {
  text-shadow: 1px 1px 2px black;
  color: white;
}

/* line 23, ../../sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Radley', Georgia, serif;
  line-height: 1em;
  font-weight: 400;
}

/* line 29, ../../sass/_base.scss */
h1 {
  font-size: 2.5em;
  width: 80%;
  margin-left: 12.5%;
}
@media screen and (max-width: 600px) {
  /* line 29, ../../sass/_base.scss */
  h1 {
    font-size: 1.7em;
  }
}

/* line 39, ../../sass/_base.scss */
h2 {
  font-size: 2.2em;
  padding: 0 0 5% 0;
  text-align: center;
}

/* line 45, ../../sass/_base.scss */
h3 {
  font-size: 1.8em;
  padding: 0 0 5% 0;
  text-align: center;
}

/* line 51, ../../sass/_base.scss */
p {
  padding: 0 0 5% 0;
}

/* line 55, ../../sass/_base.scss */
a {
  text-decoration: none;
  color: #404040;
}

/* line 60, ../../sass/_base.scss */
a:visited {
  color: #404040;
}

/* line 64, ../../sass/_base.scss */
a.button {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  text-shadow: 0 1px #fff;
  border: 3px double #404040;
  cursor: pointer;
  font-size: 1em;
  font-family: 'Radley', Georgia, serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 20px;
  white-space: nowrap;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}

/* line 79, ../../sass/_base.scss */
a.button:hover {
  background-color: #f8edd1;
  color: black;
}

/* Header Partial  - contains logo and other pieces for header of site */
/* line 3, ../../sass/_header.scss */
header {
  position: relative;
  text-align: center;
  margin: 0;
  padding-bottom: 4%;
  border-bottom: 3px double #404040;
  background: -moz-linear-gradient(top, ellipse cover, rgba(247, 237, 187, 0) 0%, #f7edbb 100%);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, rgba(247, 237, 187, 0)), color-stop(100%, #f7edbb));
}
/* line 12, ../../sass/_header.scss */
header .logo {
  padding: 13%;
  background: url("/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (max-width: 600px) {
  /* line 12, ../../sass/_header.scss */
  header .logo {
    padding: 30%;
  }
}

/* Content Partial - contents of each product box */
/* line 3, ../../sass/_content.scss */
content.product {
  position: relative;
  display: block;
  height: auto;
  padding: 0;
  padding-bottom: 5%;
  *zoom: 1;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
content.product:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  /* line 3, ../../sass/_content.scss */
  content.product {
    height: auto;
    text-align: center;
    *zoom: 1;
    padding: 0 0 10% 0;
  }
  /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  content.product:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* line 21, ../../sass/_content.scss */
content.product img {
  width: 30%;
  margin-top: 3%;
  max-width: 500px;
  float: left;
  margin-left: 14%;
  border: 3px double #404040;
}
@media screen and (max-width: 600px) {
  /* line 21, ../../sass/_content.scss */
  content.product img {
    width: 75%;
    padding: 0;
    margin: 0 auto;
    float: none;
    text-align: center;
  }
}
/* line 41, ../../sass/_content.scss */
content.product .metadata {
  width: 30%;
  padding-top: 17%;
  float: right;
  padding-right: 11%;
  text-align: center;
}
/* line 48, ../../sass/_content.scss */
content.product .metadata h2 {
  letter-spacing: 5px;
}
@media screen and (max-width: 600px) {
  /* line 41, ../../sass/_content.scss */
  content.product .metadata {
    width: 85%;
    float: none;
    padding: 0;
    margin: 0 auto 5% auto;
  }
}
@media screen and (max-width: 400px) {
  /* line 41, ../../sass/_content.scss */
  content.product .metadata {
    width: 85%;
    padding: 0;
    margin: 0 auto 5% auto;
  }
}

/* line 84, ../../sass/_content.scss */
.product.right img {
  float: right;
  margin-right: 11%;
  margin-left: 6%;
}
@media screen and (max-width: 600px) {
  /* line 84, ../../sass/_content.scss */
  .product.right img {
    width: 75%;
    margin: 0 auto;
    margin-top: 10%;
    float: none;
  }
}
/* line 97, ../../sass/_content.scss */
.product.right .metadata {
  float: left;
  padding-left: 14%;
  padding-right: 0;
}
@media screen and (max-width: 600px) {
  /* line 97, ../../sass/_content.scss */
  .product.right .metadata {
    width: 85%;
    float: none;
    padding: 0;
    margin: 5% auto;
  }
}
@media screen and (max-width: 400px) {
  /* line 97, ../../sass/_content.scss */
  .product.right .metadata {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
  }
}

/* line 118, ../../sass/_content.scss */
content:nth-child(4) {
  border-bottom: 3px double #404040;
}

/* Promo Partial - contents of each promo box */
/* line 2, ../../sass/_promo.scss */
content.promo {
  position: relative;
  display: block;
  width: 100%;
  text-align: center;
  padding: 5% 0;
  *zoom: 1;
  color: #404040;
  background: white;
}
/* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
content.promo:after {
  content: "";
  display: table;
  clear: both;
}
/* line 13, ../../sass/_promo.scss */
content.promo h3 {
  padding: 0 0 1% 0;
}
/* line 15, ../../sass/_promo.scss */
content.promo ul {
  display: inline-block;
}
/* line 17, ../../sass/_promo.scss */
content.promo ul li {
  display: inline-block;
  float: left;
}
/* line 21, ../../sass/_promo.scss */
content.promo ul li img {
  display: inline-block;
  width: 100px;
  height: 80px;
}
@media screen and (max-width: 600px) {
  /* line 15, ../../sass/_promo.scss */
  content.promo ul {
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  /* line 15, ../../sass/_promo.scss */
  content.promo ul {
    width: 100%;
    padding-right: 0%;
    padding-left: 0%;
  }
}
/* line 39, ../../sass/_promo.scss */
content.promo button {
  margin: 0 auto;
}
/* line 43, ../../sass/_promo.scss */
content.promo .center {
  padding-top: 5%;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
