content.product#cleanse
  img.thumbnail(src='/images/logo.png')
  .metadata
    h2 Cleanse
    p text goes here text goes here text goes here text goes here text goes here text goes here text goes here text goes here text goes here 
    button Buy Now $19.99