content.product.right#cleanse
  img.thumbnail(src='/images/cleanse.png')
  .metadata
    h2 CLEANSE
    p Gives hair shine &amp; brilliance, removes impurities, and maintains color. Organic sugar cane extract adds shine &amp; volume while Jojoba &amp; Cargeenan extract add moisture.
    a.button(href="http://shop.bloombeautylounge.com/products/cleanse", target="_blank") Buy Now $27.99