content.product#leavein
  img.thumbnail(src='/images/logo.png')
  .metadata
    h2 Leave-In
    p text goes here text goes here text goes here text goes here text goes here text goes here text goes here text goes here text goes here 
    button Buy Now $29.99