content.product.right#leavein
  img.thumbnail(src='/images/leavein.png')
  .metadata
    h2 LEAVE-IN
    p text goes here text goes here text goes here text goes here text goes here text goes here text goes here text goes here text goes here 
    a.button(href="http://shop.bloombeautylounge.com/products/leave-in-conditioner", target="_blank") Buy Now $22.99