content.product#moisturize
  img.thumbnail(src='/images/moisturize.png')
  .metadata
    h2 MOISTURIZE
    p text goes here text goes here text goes here text goes here text goes here text goes here text goes here text goes here text goes here 
    a.button Buy Now $20.00