content.product#moisturize
  img.thumbnail(src='/images/moisturize.png')
  .metadata
    h2 MOISTURIZE
    p text goes here text goes here text goes here text goes here text goes here text goes here text goes here text goes here text goes here 
    a.button(href="http://shop.bloombeautylounge.com/products/moisturize", target="_blank") Buy Now $22.99