content.product#moisturize
  img.thumbnail(src='/images/moisturize.png')
  .metadata
    h2 MOISTURIZE
    p A light weight, rinse-out conditioner keeps body &amp; volume intact with naturally derived ingredients. Does not leave buildup or weigh down the hair.
    a.button(href="http://shop.bloombeautylounge.com/products/moisturize", target="_blank") Buy Now $22.99