content.product#rinse
  img.thumbnail(src='/images/logo.png')
  .metadata
    h2 Rinse
    p text goes here text goes here text goes here text goes here text goes here text goes here text goes here text goes here text goes here 
    button Buy Now $20.00