content.promo
  ul.combo
    li.product#rinse
      img(src='/images/logo.png')
      p Rinse
    li.product#cleanse
      img(src='/images/logo.png')
      p Cleanse
    li.product#leavein
      img(src='/images/logo.png')
      p Leave-In

  h3 Buy all 3 and save!
  button Buy Now $49.99